p{

	font-family:Arial Black;
	font-size:20pt;
	color:white;
	-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
	
}
h1{
		font-size:50pt; 
		color: black;
		

}
header{	font-size:30pt; 
		
		color: black;


}
}